---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>

  <p>Welcome to my portfolio It's a work in progress currently, but please check back soon 🙂</p>

  <p>I've been an MSc Data Science student at <TextLink
    href="https://uwe.ac.uk">UWE Bristol</TextLink
  > since January 2025, and I'll use this portfolio to keep track of my projects and learning.</p>
  
  <p>I'm also a graduate of edX's Front-End Web Development bootcamp, which taught me fundamental skills including HTML, CSS, JavaScript and React.</p>
  
  <p>Feel free to take a look at my recent projects, and don't hesitate to get in touch!</p>
  
</div>
